@charset "utf-8";
Título {
	background-color: #F8BF31;
}
.Título div .text-center.offset-lg-0.text-capitalize {
	background-color: #F89F3C;
}
.Cuerpo div p {
}
.Cuerpo {
	background-color: #F4B36A;
}
