@charset "utf-8";
.cabecera .logo img {
	width: 14%;
	color: #000000;
	background-color: #FFFFFF;
}
.navbar.navbar-expand-lg.navbar-dark.bg-dark .navbar-brand img {
}
.Título .text-center.text-lowercase {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-style: italic;
	font-variant: normal;
	background-color: #8BCEF3;
	display: inline;
}
.PieDePágina {
	float: right;
	text-align: center;

}
.PieDePagina p {
	text-align: center;
}
